.container-items{
width: 220px;
/* border: 2px solid black; */
height: 100vh;
overflow-x: hidden;
overflow-y: auto;
text-align:justify;
}
.right-item{
 display: flex;
 align-items: center;
 margin:10px ;
 cursor: pointer;
}
.right-item:hover{
    background-color: whitesmoke;
    width: 220px;
    border-radius: 20px;
}
.item-icon{
    margin-left:4px ;
    margin-right: 20px;
    
}
.subscribers .right-item {
    margin-bottom: 10px;

}
.subscribers .isonline{
    size: 2px;
}

.isonline{
    margin-left: 20px;
    color: green;
}
.more .item-icon{
    color: red;
}
.discription{
    font-weight: lighter;
    color: gray;
}